.light {
  background-color: gray;
  transition: box-shadow 0.3s ease;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.active {
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
}
